{% extends 'base.html' %}

{% block conteudo %}
<main class="container my-6">
    <section class="mb-5 mt-6 padding: 0 10px">
        <h2 id="btn_contatos">Contato</h2>
        <div class="d-flex justify-content-center flex-wrap gap-4 text-center " style="min-height: 100vh;">
            <div class="text-center">
                <h4>Github</h4>
                <a href="https://github.com/BrunoMSZ?tab=repositories" target="_blank">
                    <img src="/static/icone-github-verte_resized.png" alt="Logo Github" class="img-fluid" />
                </a>
            </div>
            <div class="text-center">
                <h4>Instagram</h4>
                <a href="https://www.instagram.com/brunomilezi/" target="_blank">
                    <img src="/static/instagram-icone-vert_resized.png" alt="Logo Instagram" class="img-fluid" />
                </a>
            </div>
            <div class="text-center">
                <h4>LinkedIn</h4>
                <a href="https://www.linkedin.com/in/bruno-milezi-sigrist" target="_blank">
                    <img src="/static/icone-linkedin-ronde-vert_resized.png" alt="Logo LinkedIn" class="img-fluid"/>
                </a>
            </div>
        </div>
    </section>
</main>
{% endblock conteudo%}