{% extends 'base.html' %}

{% block conteudo %}
<header class="bg-custom py-3">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#btn_sobre">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#btn_projetos">Projetos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#btn_contatos">Contato</a>
                    </li>
                    <li class="nav-item">
                        <a href="/static/Cv Bruno Sigrist.pdf" target="_blank" download="Cv Bruno Sigrist.pdf" class="btn btn-primary">Currículo</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<main class="container my-5">
    <section class="mb-5">
        <h4 id="btn_sobre">Olá, meu nome é</h4>
        <h1>Bruno Milezi Sigrist</h1>
        <p>
            Sou Bruno Milezi Sigrist, estudante de ciência da computação. Como um estudante de Ciência da Computação apaixonado por tecnologia, estou em constante busca por aprimoramento e evolução. Tenho proficiência em diversas linguagens de programação, incluindo Python, Java, C e C++. Além disso, possuo conhecimento em HTML e CSS, o que me capacita a criar soluções inovadoras e eficientes. A minha habilidade de raciocínio lógico me permite identificar e resolver problemas de maneira ágil, resultando na entrega de soluções de alta qualidade dentro dos prazos estipulados. Destaco a minha capacidade de lidar eficientemente com prazos e a constante busca por novas formas de aprimorar os meus conhecimentos. O meu objetivo profissional é contribuir significativamente para o desenvolvimento de projetos desafiadores, aplicando as minhas habilidades de forma a superar expectativas e alcançar resultados excepcionais.
        </p>
    </section>

    <section class="mb-5">
        <h2 id="btn_projetos">Projetos</h2>
        <!-- Projeto 1 -->
        <div class="row mb-4">
            <div class="col-md-6">
                <img class="img-fluid rounded" src="/static/Carro.png" alt="Imagem Ilustrativa destinada ao projeto 1" />
            </div>
            <div class="col-md-6">
                <h4>
                    <strong><u>Projeto:</u></strong> 
                    <a href="https://github.com/BrunoMSZ/Desafio_Java_APIFIPE" target="_blank" class="text-decoration-none">
                        <u>Tabela Fipe - API</u>
                        <img src="/static/link.png" alt="Imagem de link" class="ms-2" />
                    </a>
                </h4>
                <p>O projeto Tabela Fipe é caracterizado por possuir um sistema de consulta da tabela fipe, tabela na qual expressa o preço médio dos veículos dentro do mercado nacional, por meio do consumo da API pública tabela fipe e a utilização de linguagem de programação Java a fim de relatar os preços médios da maioria das categorias veiculares do mercado nacional, como motocicletas, carros e caminhões.</p>
                <p><u>Linguagem usada:</u> JAVA</p>
            </div>
        </div>
        <!-- Projeto 2 -->
        <div class="row mb-4">
            <div class="col-md-6">
                <img class="img-fluid rounded" src="/static/trading_resized.png" alt="Imagem Ilustrativa destinada ao projeto 2" />
            </div>
            <div class="col-md-6">
                <h4>
                    <strong><u>Projeto:</u></strong> 
                    <a href="https://github.com/BrunoMSZ/Project_TradingWithPython" target="_blank" class="text-decoration-none">
                        <u>Trading com Python</u>
                        <img src="/static/link.png" alt="Imagem de link" class="ms-2" />
                    </a>
                </h4>
                <p>O projeto Trading com Python tem como objetivo mostrar os momentos corretos de venda e compra de ações a partir do mercado financeiro nacional a partir das bibliotecas yfinance, pandas e numpy nas quais possibilita a busca de ações, informações e geração de estatísticas e tabelas sobre a mesma. De maneira geral, esta permite o estudo de determinada ação de maneira completa e de fácil compreensão, mas a partir de conhecimentos gerais sobre o mercado de ações.</p>
                <p><u>Linguagem usada:</u> PYTHON</p>
            </div>
        </div>
        <!-- Projeto 3 -->
        <div class="row mb-4">
            <div class="col-md-6">
                <img class="img-fluid rounded" src="/static/Alura Plus_resized.png" alt="Imagem Ilustrativa destinada ao projeto 3" />
            </div>
            <div class="col-md-6">
                <h4>
                    <strong><u>Projeto:</u></strong> 
                    <a href="https://github.com/BrunoMSZ/AluraPlus---Estudo-HTML-CSS" target="_blank" class="text-decoration-none">
                        <u>Alura Plus</u>
                        <img src="/static/link.png" alt="Imagem de link" class="ms-2" />
                    </a>
                </h4>
                <p>O projeto Alura Plus tem como objetivo realizar o estudo da programação em HTML e CSS. De maneira ampla, o projeto consiste em um website em que promove o investimento estudantil à plataforma Alura, além de mostrar determinados benefícios e promoções. Tal projeto foi realizado durante os estudos dentro da plataforma Alura.</p>
                <p><u>Linguagem usada:</u> HTML, CSS</p>
            </div>
        </div>
        <!-- Projeto 4 -->
        <div class="row mb-4">
            <div class="col-md-6">
                <img class="img-fluid rounded" src="/static/screen match_resized.jpg" alt="Imagem Ilustrativa destinada ao projeto 4" />
            </div>
            <div class="col-md-6">
                <h4>
                    <strong><u>Projeto:</u></strong> 
                    <a href="https://github.com/BrunoMSZ/ScreenMatch_Sem_Web" target="_blank" class="text-decoration-none">
                        <u>Screen Match</u>
                        <img src="/static/link.png" alt="Imagem de link" class="ms-2" />
                    </a>
                </h4>
                <p>O projeto Screen Match também foi realizado durante o período de estudo dentro da plataforma Alura. Tal projeto possui como objetivo o estudo da linguagem de programação Java e determinadas características. Ademais, o projeto é caracterizado por criar um site, voltada para o back-end, clone ao streaming a partir do consumo da API Omdb. Esta aplicação é capaz de buscar qualquer filme ou série atuais, além de relatar quantidade de episódios, duração, dentre outras funções.</p>
                <p><u>Linguagem usada:</u> JAVA</p>
            </div>
        </div>
    </section>

    <section class="mb-5">
        <h2 id="btn_contatos">Contato</h2>
        <div class="d-flex flex-wrap gap-4">
            <div class="text-center">
                <h4>Github</h4>
                <a href="https://github.com/BrunoMSZ?tab=repositories" target="_blank">
                    <img src="/static/icone-github-verte_resized.png" alt="Logo Github" class="img-fluid" />
                </a>
            </div>
            <div class="text-center">
                <h4>Instagram</h4>
                <a href="https://www.instagram.com/brunomilezi/" target="_blank">
                    <img src="/static/instagram-icone-vert_resized.png" alt="Logo Instagram" class="img-fluid" />
                </a>
            </div>
            <div class="text-center">
                <h4>LinkedIn</h4>
                <a href="https://www.linkedin.com/in/bruno-milezi-sigrist" target="_blank">
                    <img src="/static/linkedin-icone-vert_resized.png" alt="Logo LinkedIn" class="img-fluid" />
                </a>
            </div>
        </div>
    </section>
</main>
{% endblock conteudo %}
