{% extends 'base.html' %}

{% block conteudo %}
<main class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <section class="mb-5">
        <h4 id="btn_sobre" class="letter-custom">Olá, meu nome é</h4>
        <h1>Bruno Milezi Sigrist</h1>
        <p class="padding: 0 10px">
            Sou Bruno Milezi Sigrist, estudante de ciência da computação. Como um estudante de Ciência da Computação apaixonado por tecnologia, estou em constante busca por aprimoramento e evolução. Tenho proficiência em diversas linguagens de programação, incluindo Python, Java, C e C++. Além disso, possuo conhecimento em HTML e CSS, o que me capacita a criar soluções inovadoras e eficientes. A minha habilidade de raciocínio lógico me permite identificar e resolver problemas de maneira ágil, resultando na entrega de soluções de alta qualidade dentro dos prazos estipulados. Destaco a minha capacidade de lidar eficientemente com prazos e a constante busca por novas formas de aprimorar os meus conhecimentos. O meu objetivo profissional é contribuir significativamente para o desenvolvimento de projetos desafiadores, aplicando as minhas habilidades de forma a superar expectativas e alcançar resultados excepcionais.
        </p>
    </section>
</main>
{% endblock conteudo%}
